/* material-theme.scss */
@use '@angular/material' as mat;

html {
  height: 100%;
  color-scheme: dark;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: 'DM Sans',
    density: 0,
  ));
}

body {
  color-scheme: dark;
  background-color: #0d0f14;
  color: #e8ecf4;
  margin: 0;
  height: 100%;
}