* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
}


.container {
    display: flex;
    min-height: 100vh;
}


.left {
    width: 70%;
    background: #1e1e2f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    user-select: none;
}

.left img {
    width: 15em;
    margin-bottom: 1.5em;
    border-radius: 50%;
    object-fit: cover;
    height: 15em;
}

.left p {
    margin: 0.3em 0;
    font-size: 1.125em;
}

.right {
    width: 30%;
    background: #f4f4f4;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.tabs {
    display: flex;
    width: 100%;
    max-width: 20em;
    margin-bottom: 2em;
    border-bottom: 0.125em solid #ddd;
}

.tab-link {
    flex: 1;
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    border-bottom: 0.1875em solid transparent;
    transition: all 0.3s ease;
}

.tab-link:hover {
    color: #333;
}

.forms {
    width: 100%;
    max-width: 20em;
}

.login-form,
.register-form,
.forgot-form {
    display: none;
    flex-direction: column;
}

.login-form {
    display: flex;
}

.tab-link[href="#login"] {
    color: #333;
    border-bottom-color: #333;
}

body:has(#register:target) .register-form {
    display: flex;
}

body:has(#register:target) .login-form {
    display: none;
}

body:has(#register:target) .forgot-form {
    display: none;
}

body:has(#register:target) .tab-link[href="#login"] {
    color: #666;
    border-bottom-color: transparent;
}

body:has(#register:target) .tab-link[href="#register"] {
    color: #333;
    border-bottom-color: #333;
}

body:has(#fp:target) .forgot-form {
    display: flex;
}

body:has(#fp:target) .login-form {
    display: none;
}

body:has(#fp:target) .register-form {
    display: none;
}

body:has(#fp:target) .tab-link {
    color: #666;
    border-bottom-color: transparent;
}

body:has(#login:target) .login-form {
    display: flex;
}

body:has(#login:target) .register-form {
    display: none;
}

body:has(#login:target) .forgot-form {
    display: none;
}

body:has(#login:target) .tab-link[href="#register"] {
    color: #666;
    border-bottom-color: transparent;
}

body:has(#login:target) .tab-link[href="#login"] {
    color: #333;
    border-bottom-color: #333;
}

h2 {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 1.5em;
}

.forms input {
    margin-bottom: 1em;
    padding: 0.75em;
    font-size: 0.875em;
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;
}

.forms button {
    padding: 0.75em;
    margin-top: 0.5em;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.25em;
    transition: background 0.3s ease;
}

.forms button:hover {
    background: #555;
}

.forgot {
    margin-top: 1em;
    font-size: 0.875em;
    text-align: center;
    text-decoration: none;
    color: #0066cc;
}

.forgot:hover {
    text-decoration: underline;
}

.back-link {
    margin-top: 1em;
    text-align: center;
    color: #0066cc;
    cursor: pointer;
    font-size: 0.875em;
    text-decoration: none;
    display: block;
}

.back-link:hover {
    text-decoration: underline;
}

@media (max-width: 48em) {
    .container {
        flex-direction: column;
    }

    .left {
        width: 100%;
        min-height: 50vh;
    }

    .right {
        width: 100%;
        min-height: 50vh;
    }

    .left img {
        width: 12em;
        height: 12em;
    }

    .left p {
        font-size: 1em;
    }
}
