.product-boxes {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);}    