h1{
    color: #2810fa;
    border-color :aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.innerlist{
    box-sizing: border-box;
    border-style:dashed;
    background-color: rgb(202, 206, 206);
    margin-bottom: 10px;

}

.pname {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
}

